<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <listeners>
        <listener class-name="com.midTrans.Utilities.AnnotationTransform"/>
        <listener class-name="com.midTrans.Utilities.TestListener"/>
    </listeners>

    <parameter name="platform" value="${platform}" /><!-- Should be ANDROID or MAC -->
    <parameter name="platformVersion" value="${platformVersion}" />
    <parameter name="deviceName" value="${deviceName}" />

    <!-- This test is related to IOS platform -->
    <test name="midTranse-UI Test">
        <classes>
            <class name="com.midTrans.tests.TC1"/>
        </classes>
    </test>
    <test name="API Ulitity">
        <classes>
            <class name="com.midTrans.tests.TC2"/>
        </classes>
    </test>

</suite>
